In [1]:
import pandas as pd

# Gestion des séries temporelles avec Pandas

Les données temporelles occupent une place de choix pour Pandas. Il est (relativement) facile de convertir automatiquement des indices représentant des séries temporelles en "vrai" dates, ce qui offre un certain nombre d'avantages et de méthodes spécifiques pour travailler avec les séries temporelles.

## Créer un DatetimeIndex

### A partir de rien

On peut créer un Index spécialisé contenant une série de date, qu'il sera possible de fournir au DataFrame de notre choix, avec `pd.date_range`. Il est possible de fournir le point de départ, le point d'arrivé, la fréquence et le nombre de périodes. 3 sur ces 4 paramètres sont nécessaires et suffisants.

In [2]:
dt_index = pd.date_range(start="02/25/2020 00:00", end="02/28/2020 00:00", freq="1min")
dt_index

DatetimeIndex(['2020-02-25 00:00:00', '2020-02-25 00:01:00',
               '2020-02-25 00:02:00', '2020-02-25 00:03:00',
               '2020-02-25 00:04:00', '2020-02-25 00:05:00',
               '2020-02-25 00:06:00', '2020-02-25 00:07:00',
               '2020-02-25 00:08:00', '2020-02-25 00:09:00',
               ...
               '2020-02-27 23:51:00', '2020-02-27 23:52:00',
               '2020-02-27 23:53:00', '2020-02-27 23:54:00',
               '2020-02-27 23:55:00', '2020-02-27 23:56:00',
               '2020-02-27 23:57:00', '2020-02-27 23:58:00',
               '2020-02-27 23:59:00', '2020-02-28 00:00:00'],
              dtype='datetime64[ns]', length=4321, freq='T')

In [3]:
dt_index = pd.date_range(start="02/25/2020 00:00", end="02/28/2020 00:00", periods=300)
dt_index

DatetimeIndex([          '2020-02-25 00:00:00',
               '2020-02-25 00:14:26.889632107',
               '2020-02-25 00:28:53.779264214',
               '2020-02-25 00:43:20.668896321',
               '2020-02-25 00:57:47.558528428',
               '2020-02-25 01:12:14.448160535',
               '2020-02-25 01:26:41.337792642',
               '2020-02-25 01:41:08.227424749',
               '2020-02-25 01:55:35.117056856',
               '2020-02-25 02:10:02.006688963',
               ...
               '2020-02-27 21:49:57.993311036',
               '2020-02-27 22:04:24.882943143',
               '2020-02-27 22:18:51.772575250',
               '2020-02-27 22:33:18.662207357',
               '2020-02-27 22:47:45.551839464',
               '2020-02-27 23:02:12.441471571',
               '2020-02-27 23:16:39.331103678',
               '2020-02-27 23:31:06.220735785',
               '2020-02-27 23:45:33.110367893',
                         '2020-02-28 00:00:00'],
              dtype='datetime64[ns]', length=300, freq=None)

In [10]:
dt_index = pd.date_range(start="02/25/2020 00:00", periods=300, freq="H")
dt_index

DatetimeIndex(['2020-02-25 00:00:00', '2020-02-25 01:00:00',
               '2020-02-25 02:00:00', '2020-02-25 03:00:00',
               '2020-02-25 04:00:00', '2020-02-25 05:00:00',
               '2020-02-25 06:00:00', '2020-02-25 07:00:00',
               '2020-02-25 08:00:00', '2020-02-25 09:00:00',
               ...
               '2020-03-08 02:00:00', '2020-03-08 03:00:00',
               '2020-03-08 04:00:00', '2020-03-08 05:00:00',
               '2020-03-08 06:00:00', '2020-03-08 07:00:00',
               '2020-03-08 08:00:00', '2020-03-08 09:00:00',
               '2020-03-08 10:00:00', '2020-03-08 11:00:00'],
              dtype='datetime64[ns]', length=300, freq='H')

Ces index peuvent être fournis à un dataframe, à sa création ou après coup.

In [4]:
df = pd.read_csv("../../data/temperatures_np.csv",
                 index_col=None, header=None, names=["Tin", "Tout"])

In [6]:
df.index = pd.date_range(start="01/01/2017 00:00", freq="1min", periods=len(df))
df

                      Tin  Tout
2017-01-01 00:00:00  23.0   7.5
2017-01-01 00:01:00  23.0   7.5
2017-01-01 00:02:00  23.0   7.3
2017-01-01 00:03:00  23.0   7.4
2017-01-01 00:04:00  23.0   7.4
...                   ...   ...
2017-01-31 23:55:00  23.0   8.6
2017-01-31 23:56:00  23.0   8.6
2017-01-31 23:57:00  23.0   8.8
2017-01-31 23:58:00  23.0   8.7
2017-01-31 23:59:00  23.0   8.6

[44640 rows x 2 columns]

### Parsing de la date à l'import d'un csv

Si par défaut un index contenant des dates sous forme de texte sera considéré comme du texte par Pandas, il est facilement possible de le convertir en DateTimeIndex.

In [7]:
df = pd.read_csv("../../data/temperatures.csv", index_col=0)
df

                     temp_inside  temp_outside
date and time
2018-01-01 00:00:00         23.0           7.5
2018-01-01 00:01:00         23.0           7.5
2018-01-01 00:02:00         23.0           7.3
2018-01-01 00:03:00         23.0           7.4
2018-01-01 00:04:00         23.0           7.4
...                          ...           ...
2018-01-31 23:55:00         23.0           8.6
2018-01-31 23:56:00         23.0           8.6
2018-01-31 23:57:00         23.0           8.8
2018-01-31 23:58:00         23.0           8.7
2018-01-31 23:59:00         23.0           8.6

[44640 rows x 2 columns]

In [27]:
df.index

Index(['2018-01-01 00:00:00', '2018-01-01 00:01:00', '2018-01-01 00:02:00',
       '2018-01-01 00:03:00', '2018-01-01 00:04:00', '2018-01-01 00:05:00',
       '2018-01-01 00:06:00', '2018-01-01 00:07:00', '2018-01-01 00:08:00',
       '2018-01-01 00:09:00',
       ...
       '2018-01-31 23:50:00', '2018-01-31 23:51:00', '2018-01-31 23:52:00',
       '2018-01-31 23:53:00', '2018-01-31 23:54:00', '2018-01-31 23:55:00',
       '2018-01-31 23:56:00', '2018-01-31 23:57:00', '2018-01-31 23:58:00',
       '2018-01-31 23:59:00'],
      dtype='object', name='date and time', length=44640)

In [28]:
type(df.index[0])

str

In [8]:
df = pd.read_csv("../../data/temperatures.csv", index_col=0, parse_dates=True)
df.index

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:01:00',
               '2018-01-01 00:02:00', '2018-01-01 00:03:00',
               '2018-01-01 00:04:00', '2018-01-01 00:05:00',
               '2018-01-01 00:06:00', '2018-01-01 00:07:00',
               '2018-01-01 00:08:00', '2018-01-01 00:09:00',
               ...
               '2018-01-31 23:50:00', '2018-01-31 23:51:00',
               '2018-01-31 23:52:00', '2018-01-31 23:53:00',
               '2018-01-31 23:54:00', '2018-01-31 23:55:00',
               '2018-01-31 23:56:00', '2018-01-31 23:57:00',
               '2018-01-31 23:58:00', '2018-01-31 23:59:00'],
              dtype='datetime64[ns]', name='date and time', length=44640, freq=None)

In [9]:
type(df.index[0])

pandas._libs.tslibs.timestamps.Timestamp

### Conversion d'un index "classique" en DateTimeIndex

In [18]:
df = pd.read_csv("../../data/temperatures.csv", index_col=0)
df.index

Index(['2018-01-01 00:00:00', '2018-01-01 00:01:00', '2018-01-01 00:02:00',
       '2018-01-01 00:03:00', '2018-01-01 00:04:00', '2018-01-01 00:05:00',
       '2018-01-01 00:06:00', '2018-01-01 00:07:00', '2018-01-01 00:08:00',
       '2018-01-01 00:09:00',
       ...
       '2018-01-31 23:50:00', '2018-01-31 23:51:00', '2018-01-31 23:52:00',
       '2018-01-31 23:53:00', '2018-01-31 23:54:00', '2018-01-31 23:55:00',
       '2018-01-31 23:56:00', '2018-01-31 23:57:00', '2018-01-31 23:58:00',
       '2018-01-31 23:59:00'],
      dtype='object', name='date and time', length=44640)

In [27]:
dt_idx = pd.to_datetime(df.index)

In [31]:
dt_idx[dt_idx.hour == 0]

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 00:01:00',
               '2018-01-01 00:02:00', '2018-01-01 00:03:00',
               '2018-01-01 00:04:00', '2018-01-01 00:05:00',
               '2018-01-01 00:06:00', '2018-01-01 00:07:00',
               '2018-01-01 00:08:00', '2018-01-01 00:09:00',
               ...
               '2018-01-31 00:50:00', '2018-01-31 00:51:00',
               '2018-01-31 00:52:00', '2018-01-31 00:53:00',
               '2018-01-31 00:54:00', '2018-01-31 00:55:00',
               '2018-01-31 00:56:00', '2018-01-31 00:57:00',
               '2018-01-31 00:58:00', '2018-01-31 00:59:00'],
              dtype='datetime64[ns]', name='date and time', length=1860, freq=None)

## Manipulation des données temporelles

L'interet d'avoir des "vrai" dates en indices est que pandas est capable de les manipuler et fourni des méthodes spécifiques. Il est possible de ne récupérer qu'une journée particulière par exemple.

In [36]:
df = pd.read_csv("../../data/temperatures.csv", index_col=0)
df.loc['2018-01-01 00:00:00']

temp_inside     23.0
temp_outside     7.5
Name: 2018-01-01 00:00:00, dtype: float64

In [45]:
df = pd.read_csv("../../data/temperatures.csv", index_col=0, parse_dates=True)
df['2018-01-01']

                     temp_inside  temp_outside
date and time
2018-01-01 00:00:00         23.0           7.5
2018-01-01 00:01:00         23.0           7.5
2018-01-01 00:02:00         23.0           7.3
2018-01-01 00:03:00         23.0           7.4
2018-01-01 00:04:00         23.0           7.4
...                          ...           ...
2018-01-01 23:55:00         23.0           5.0
2018-01-01 23:56:00         23.0           4.8
2018-01-01 23:57:00         23.0           4.8
2018-01-01 23:58:00         23.0           4.9
2018-01-01 23:59:00         23.0           4.9

[1440 rows x 2 columns]

Il est également possible de récupérer des infos sur les dates via des méthodes ou propriétés du DateTimeIndex.

In [43]:
hour_of_day = df.index.hour

In [44]:
df[hour_of_day == 6].mean()

temp_inside     23.138226
temp_outside     4.460645
dtype: float64

A noter que les interpolations seront au courant de l'echelle temporelle et géreront correctement des pas de temps variables.

## Rééchantillonage

Pandas propose une interface de rééchantillonage des données temporelles avec `df.resample()`. C'est une `groupby` spécialisé dans les données temporelles et qui est très utile pour rééchantillonner les données. Comme avec `groupby`, il faudra fournir une fonction d'aggrégat pour diminuer la fréquence d'échantillonage, ou une méthode pour remplacer les données manquantes pour augmenter la fréquence d'échantillonage.

In [46]:
df.resample("30min")

In [52]:
df.resample("30min").agg({"temp_inside": ["mean", "std"]})

                    temp_inside
                           mean       std
date and time
2018-01-01 00:00:00   22.983333  0.053067
2018-01-01 00:30:00   22.736667  0.099943
2018-01-01 01:00:00   22.523333  0.097143
2018-01-01 01:30:00   22.513333  0.100801
2018-01-01 02:00:00   22.636667  0.071840
...                         ...       ...
2018-01-31 21:30:00   23.800000  0.052523
2018-01-31 22:00:00   23.760000  0.183077
2018-01-31 22:30:00   23.343333  0.116511
2018-01-31 23:00:00   23.073333  0.098027
2018-01-31 23:30:00   23.000000  0.000000

[1488 rows x 2 columns]

In [53]:
df.resample("30min").agg({"temp_inside": ("min", "mean", "max"), "temp_outside": ("median", "std")})

                    temp_inside                  temp_outside
                            min       mean   max       median       std
date and time
2018-01-01 00:00:00        22.8  22.983333  23.0         7.10  0.173570
2018-01-01 00:30:00        22.6  22.736667  22.9         6.35  0.286577
2018-01-01 01:00:00        22.4  22.523333  22.6         5.70  0.347884
2018-01-01 01:30:00        22.4  22.513333  22.6         5.70  0.154213
2018-01-01 02:00:00        22.6  22.636667  22.8         5.25  0.405933
...                         ...        ...   ...          ...       ...
2018-01-31 21:30:00        23.6  23.800000  24.0         6.80  0.261406
2018-01-31 22:00:00        23.6  23.760000  24.2         6.90  0.279347
2018-01-31 22:30:00        23.2  23.343333  23.6         8.10  0.273672
2018-01-31 23:00:00        23.0  23.073333  23.2         8.45  0.158332
2018-01-31 23:30:00        23.0  23.000000  23.0         8.60  0.098786

[1488 rows x 5 columns]

Si le rééchantillonage est plus important, il des `nan` seront générés. Ils devront être gérés en utilisant `interpolate` sur le groupby.

In [54]:
df.resample("30s").interpolate(method="nearest")

                     temp_inside  temp_outside
date and time
2018-01-01 00:00:00         23.0           7.5
2018-01-01 00:00:30         23.0           7.5
2018-01-01 00:01:00         23.0           7.5
2018-01-01 00:01:30         23.0           7.5
2018-01-01 00:02:00         23.0           7.3
...                          ...           ...
2018-01-31 23:57:00         23.0           8.8
2018-01-31 23:57:30         23.0           8.8
2018-01-31 23:58:00         23.0           8.7
2018-01-31 23:58:30         23.0           8.7
2018-01-31 23:59:00         23.0           8.6

[89279 rows x 2 columns]

In [60]:
idx = pd.date_range(start="2018-01-01", end="2018-01-31", freq="1h")

In [61]:
df.reindex(index=idx, method="nearest")

                     temp_inside  temp_outside
2018-01-01 00:00:00         23.0           7.5
2018-01-01 01:00:00         22.6           6.2
2018-01-01 02:00:00         22.6           5.9
2018-01-01 03:00:00         22.8           6.0
2018-01-01 04:00:00         22.8           5.1
...                          ...           ...
2018-01-30 20:00:00         23.9           6.0
2018-01-30 21:00:00         24.0           6.0
2018-01-30 22:00:00         23.0           6.3
2018-01-30 23:00:00         22.6           5.6
2018-01-31 00:00:00         22.0           5.7

[721 rows x 2 columns]